* {
  box-sizing: border-box;
}
header {
    background-image: url("https://i.pinimg.com/originals/71/16/db/7116db2a157ec688b89e4ed4c1d0b432.jpg");
    background-size: cover;
    height: 40vw;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New';
    /*font-weight: lighter;*/
    font-size: 70pt;
    color: white;
}